::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.Container {
  position: relative;
  background: linear-gradient(
    145deg,
    #0c0c0c 20%,
    rgba(var(--primary_color), 0.3) 100%
  );
  width: calc(100dvw - 78px);
  height: auto;
  left: 78px;
  transition: all 0.5s ease;
  padding: 50px 50px 50px 50px;
  z-index: 2;

  .ContentContainer {
    width: 100%;
    height: 100%;
    transition: all 0.5s ease;

    .Title {
      text-decoration: none;
      display: flex;
      width: 100%;
      height: auto;

      .IconTitle {
        margin: 0 15px 0 0;
        color: #f8f9fc;
        transition: all 0.5s ease;
      }

      .IconTitle:hover {
        color: rgba(var(--primary_color), 1);
      }

      .IconPage {
        margin: 0 10px 0 10px;
        color: #f8f9fc;
      }
    }

    .Title h1 {
      font-size: 1.5rem;
      line-height: 2;
      color: #f8f9fc;
    }

    .Main {
      padding: 10px 30px;
      transition: all 0.5s ease;

      .content {
        display: flex;
        padding: 20px 20px 20px 20px;
        backdrop-filter: blur(13.5px);
        -webkit-backdrop-filter: blur(13.5px);
        margin-bottom: 2%;

        .formUser {
          width: 100%;
          height: 100%;
          padding: 20px;
          border-radius: 20px;
          border: 1px solid rgba(var(--primary_color), 0.2);
          background-color: var(--black7);
          display: flex;
          flex-direction: column;
          align-items: center;

          h1 {
            font-size: 18px;
            font-weight: bold;
            padding-left: 20px;
          }

          .Form {
            height: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;

            .containerInpt {
              display: flex;
              flex-wrap: wrap;
              column-gap: 40px;
              padding: 30px 30px 0 30px;
            }

            .FormItem {
              width: 40%;
              label:after {
                content: " " !important;
              }

              label:before {
                content: " " !important;
              }

              ::placeholder {
                color: var(--white3) !important;
                font-weight: 500;
              }
            }
            .Btn_container {
              width: 100%;
              display: flex;
              justify-content: center;

              .Btn_form {
                width: 100%;
                padding-inline: 60px;
              }
            }
          }
        }

        .table{
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }

      }
    }
  }
}
