:root {
  --black: rgb(20, 20, 21);
  --black1: rgba(20, 20, 21, 0.1);
  --black2: rgba(20, 20, 21, 0.2);
  --black3: rgba(20, 20, 21, 0.3);
  --black4: rgba(20, 20, 21, 0.4);
  --black5: rgba(20, 20, 21, 0.5);
  --black6: rgba(20, 20, 21, 0.6);
  --black7: rgba(20, 20, 21, 0.7);
  --black8: rgba(20, 20, 21, 0.8);
  --black9: rgba(20, 20, 21, 0.9);

  --white: rgb(248, 249, 252);
  --white1: rgba(248, 249, 252, 0.1);
  --white2: rgba(248, 249, 252, 0.2);
  --white3: rgba(248, 249, 252, 0.3);
  --white4: rgba(248, 249, 252, 0.4);
  --white5: rgba(248, 249, 252, 0.5);
  --white6: rgba(248, 249, 252, 0.6);
  --white7: rgba(248, 249, 252, 0.7);
  --white8: rgba(248, 249, 252, 0.8);
  --white9: rgba(248, 249, 252, 0.9);
}
